@import "bootstrap-sprockets"
@import "bootstrap"

.course_form
  margin: 10px 0

.course_check
  width: 60px
  text-align: center

.course_label
  width: 100px

.course_delete
  width: 150px
  text-align: right